*::after, *::before {
    box-sizing:border-box;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
    max-width: 800px;
}

code, pre, tt {
    font-family: "Dejavu Sans Mono", "Consolas", "Courier New", monospace;
    font-size: 100%;
}

pre.source-code {
    margin-left: 2em;
}

p.aside {
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

div.syntax {
    background-color: #f9fae8;
    border-left: solid 4px #f4ff26;
    line-height: 18px;
    overflow: hidden;
    padding-left: 12px;
    font-size: 90%;
}

span.meta-syntax-identifier {
    font-family: sans-serif;
    font-weight: bold;
}

span.meta-syntax-descriptive {
    font-family: serif;
    font-style: italic;
    color: #777777;
}

span.meta-syntax {
    font-family: serif;
    font-size: 130%;
    color: #777777;
}
